@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-surface-950 font-sans text-surface-50 antialiased;
  }

  a {
    @apply text-brand-300 transition-colors hover:text-brand-200;
  }
}
